<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerLinks}}
    <title>WebSite</title>
  </head>
  <body>
{{>navbar}}
 <br /><br />
    <div id="about">
      <h1 style="color:#55acee;">About:</h1>
      <p>
        Here you can perform the basic operations on a single image. But after
        registering <br />yourself you will be able to perform operations on
        multiple images such as changing<br />
        background, changing people faces, use filters etc.<br />We will try to
        make photoshop easy for you.<br /><br />
        My name is <b>Abdul Wahab Raza</b>. I am
        <b>developer for this website</b><br />
        You can check out the filters available <a href="./filters.html">here</a> for you.<br /><br />
        <b>abdulwahabraza123@gmail.com</b><br>
        <b>Thank You!</b>
      </p>
    </div>
{{>footer}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
