<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerLinks}}
    <title>WebSite</title>
  </head>
  <body>
{{>navbar}}
       <br /><br />
    <div id="box">
      <div id="logo">
        <img src="./logo.png" />
      </div>
      <div id="main">
        <div id="start">Here you can get</div>
        <br />
        <span
          ><span id="digital">Digital</span>
          <span id="image">Image</span>
          <span id="processing">Operations</span></span
        >
        <br />
        <div id="end">with only commands</div>
      </div>
{{>footer}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
