    <div id="navbar-animmenu">
      <ul class="show-dropdown main-navbar">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li>
          <a href="/"><i class="fas fa-tachometer-alt"></i>Home</a>
        </li>
        <li class="active">
          <a href="/imp"><i class="far fa-address-book"></i>Image Processing</a>
        </li>
        <li>
          <a href="/login"><i class="far fa-clone"></i>Login</a>
        </li>
        <li>
          <a href="/register"
            ><i class="far fa-calendar-alt"></i>Register</a
          >
        </li>
        <li>
          <a href="/about"><i class="far fa-chart-bar"></i>About</a>
        </li>
        <li id="raza">Raza</li>
      </ul>
    </div>